<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo testimonio</title>
</head>

<body>
    <h1>Nuevo testimonio</h1>
    <form action="/testimonio/new" method="POST">
        <label>Nombre: <input name="name" type="text" /></label>
        <label>Linkedin: <input name="linkedin" type="text" /></label>
        <textarea name="testimonio" id="1" cols="30" rows="10"></textarea>

        <button>Crear Personaje</button>
    </form>
</body>

</html>